<div class="form-group col-md-10 offset-md-1">
  <div class="comment_form ">
    <% @comments.each do |comment| %>
      <div class="comment_list">
        <%= link_to user_path comment.user do %>
          <i class="bi bi-person"></i>
          <span class="username"><%= comment.user.name %></span>
        <% end %>
      </div>
      <div class="">
        <%= comment.comment_content %>
      </div>
      <% if comment.user == current_user %>
        <div class="row">
          <div class="offset-md-11">
            <%= link_to comment_path(comment), method: :delete do %>
              <i class="bi bi-x"></i>削除
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
