<% @anomalys.each do |anomaly| %>  
  <div class="col-xs-12 anomalys">
    <div class="row">
      <div class="anomaly text-break">
        <div class="anomaly-header">
          <%= link_to "#{anomaly.user.name}", users_path(anomaly.user.id), class:"erb-link" %>
          <%= "が#{anomaly.created_at.strftime('%Y/%m/%d %H:%M')}に投稿" %>
        </div>
        
        <div class="anomaly-content">
          <h4><%= link_to "#{anomaly.title}", anomaly_path(anomaly), class:"btn-block a-link" %></h4>
        </div>

        <% anomaly.tags.each do |tag| %>
          <i class="bi bi-tag"></i>
          <%= link_to tag.tag_name,search_tag_path(tag_id: tag.id)%>
        <% end %>     
      </div>
    </div>
  </div>
<% end %>
