<div class="container-fluid ">
  <div class="row user-nav">
    <div class="col-2 offset-md-1">
      <%= link_to "アカウント",users_path, class:"user-text" %>
    </div>
    <div class="col-2 user-nav-b">
      <%= link_to "投稿履歴",user_path(current_user.id), class:"user-text" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 text-center">
      <h2>投稿履歴</h2>
    </div>
  </div>

  <%= render 'anomalys/anomaly_list' %>
  
</div>
