// Place all the styles related to the anomalys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "variables.scss";

.anomaly-show {
  background-color: white;
  padding: 1rem;
  box-shadow: 2px 2px 7px 6px RGB(0 0 0 / 4%);
}

.search-form {
  margin-bottom: 110px;
}

.search-form-control {
  border-radius: 30px;
  padding-left: 20px;
  height: 50px;
}

.author {
  margin: 1.5rem 0.5rem 0 0;
  a:hover {
    color: #fff;
  }
  .edit-icon {
    margin-right: 5px;
  }
}

.anomalys {
  margin: 40px 0;
}

.post-form {
  margin-bottom: 20px;
}

.anomaly-header {
  margin-bottom: 20px;
}

.anomaly-content {
  padding: 10px 0px 10px 0px;
}

.mgr-10{
  margin-left : 15px;
}

.anomaly-tags {
  margin-bottom: 110px;
}

/* ページネーション */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination {
  .active {
    a, span {
      background-color: $main-color;
      border-color: $main-color;
      &:hover, &:focus {
        background-color: $main-color;
        border-color: $other-color;
      }
    }
  }
  li {
    a,span {
      border-color: $main-color;
      color: $main-color;
      &:hover, &:focus {
        border-color: $main-color;
        color: $main-color;
        transition:0.5s all;
      }
    }
  }
}

.page-item-i.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: $main-color;
  border-color: $main-color;
}
