/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
@import "variables";

.search-form-control {
  border-radius: 30px;
  padding-left: 20px;
  height: 45px;
}

/* 全体 */
.base-container {
  margin: 0 auto;
  padding: 1rem;
}
.text-center {
  color: #6c757d;
  margin-bottom: 20px;
  margin-top: 50px;
}
a {
  color: $main-color;
  &:hover {
    color: $main-color;
  }
}
.a-link {
  color: black;
  &:hover {
    color: #6c757d;
  }
}
.a-link-btn {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

 /* body */
body {
}

/* header */
header {
  background-color: $main-color;
}

/* footer */
footer {
  width: 100%;
  height: 100px;
  padding-top: 0.8rem;
  margin-top: 14rem;
  background-color: whitesmoke;
  color: grey;
  text-align: center;
  p {
    font-size: 16px;
    padding-top: 24px;
  }
}

/* _anomaly */
.anomaly {
  background-color: $anomaly-list-color;
  border-top: 1px solid $anomaly-list-border-color;
  border-bottom: 1px solid $anomaly-list-border-color;
  margin: 0 250px 0px 250px;
  padding: 30px 16px 0px 30px;
  width: 100%;
  box-shadow: 2px 2px 7px 6px RGB(0 0 0 / 4%);
  background-color: #ffffff;
  .reaction {
    display: flex;
    justify-content: space-between;
  }
}
.fa-tags {
  color: $accent-color;
}

/* _form */
.form {
  height: 50px;
}
.post-btn {
  @include anomaly_btn;
}
.cancel-btn {
  @include anomaly_btn($other-color);
}
.new_form_frame {
  margin: 20px;
}

/* アイコンサイズ */
.bi-search {
  font-size:30px;
  padding-right: 10px;
}

/* ボタン */
.main-btn {
  @include btn_color;
}
.other-btn {
  @include btn_color($other-color);
}
.btn-search {
  background-color: $other-color;
  color: $main-color;
  border-color: transparent;
  padding-right: 10px;
  padding-left: 20px;
  font-size: 15px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 45px;
}
.fa-solid {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.btn-outline-post {
  color: $sub-color;
  background-color: transparent;
  background-image: none;
  border-color: $sub-color;
}

.btn-outline-post:hover,
.btn-outline-post:not(:disabled):not(.disabled):active, .btn-outline-post:not(:disabled):not(.disabled).active,
.show > .btn-outline-post.dropdown-toggle {
  color: #fff;
  background-color: $sub-color;
  border-color: $sub-color;
}

.btn-outline-post:focus, .btn-outline-post.focus,
.btn-outline-post:not(:disabled):not(.disabled):active:focus, .btn-outline-post:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-post.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-post.disabled, .btn-outline-post:disabled {
  color: $sub-color;
  background-color: transparent;
}
