<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>" role="alert">
    <a href="#" class="close text-white" data-dismiss="alert">×</a>
    <%= message %>
  </div>
<% end %>
